// Colors
$color-primary: #4185a4;
$color-primary-dark: #436a7b;
$color-primary-super-dark: #15516b;
$color-primary-light: #73b5d2;
$color-primary-super-light: #8cbdd2;

$color-secondary: #db8979;
$color-secondary-dark: #a4766d;
$color-secondary-super-dark: #8e3727;
$color-secondary-light: #edaa9d;
$color-secondary-super-light: #edbcb3;

$color-tertiary: #e1e9f2;
$color-quaternary: #f3dfd0;

$color-grey: #434343;
$color-grey-dark: #131313;
$color-grey-light: #b3b3b3;
$color-grey-super-light: #f3f3f3;

$color-white: #fff;
$color-black: #000;

$color-white-transparent: rgba(#fff, 0.75);
$color-black-transparent: rgba(#000, 0.75);

$color-error: #f5222d;
$color-error-light: #ffccc7;

$color-success: #a0d911;
$color-success-light: #f4ffb8;

$color-warning: #ffe58f;
$color-warning-light: #ffe58f;

// Brands
$color-facebook: #3b5998;

// Font settings
$default-font-size: 1.6rem;

// Grid settings
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

// Sizes
$header-height: 72px;
$header-height-mobile: $header-height * 2.5;

$footer-height: 48px;
$footer-height-mobile: $footer-height * 1.5;

$min-height: calc(100vh - #{$footer-height} - 1px);
$min-height-mobile: calc(100vh - #{$footer-height-mobile} - 1px);
