body {
  color: $color-grey-dark;
  font-family: Roboto, sans-serif;
  font-weight: 400;
}

.heading-primary {
  backface-visibility: hidden;
  color: $color-white;
  margin-bottom: 2rem;
  text-align: center;
  text-shadow: 0px 0px 12px rgba(0, 0, 0, 0.5);
  text-transform: uppercase;

  &--main {
    display: block;
    font-size: 12rem;
    font-weight: bold;
    line-height: 12rem;

    @include respond(phone) {
      font-size: 6rem;
      line-height: 6rem;
    }
  }

  &--sub {
    display: block;
    font-size: 2rem;

    @include respond(phone) {
      font-size: 1.5rem;
    }
  }
}

.heading-secondary {
  color: $color-white;
  margin-bottom: 2rem;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  text-shadow: 0px 0px 12px rgba(0, 0, 0, 0.5);

  @include respond(phone) {
    font-size: 1.8rem;
  }
}

.heading-tertiary {
  font-size: $default-font-size;
  font-weight: 700;
  text-transform: uppercase;
}

.heading--detail {
  filter: drop-shadow(0 0 0.2rem $color-tertiary);

  @include respond(phone) {
    filter: drop-shadow(0 0 0.05rem $color-tertiary);
  }
}

.paragraph {
  font-size: $default-font-size;
  text-transform: none;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}

/**
 * Pages
 */

// Home
.home_container {
  // All paragraphs in Home
  & p.home_txt {
    font-size: 1.8rem;
  }

  // Main
  & .home_main {
    & .button-container {
      margin: 32px 0;
      text-align: center;

      & .button {
        font-size: 2rem;
      }
    }
  }

  // Why Us
  & .whyus_container {
    & .whyus_title {
      & h2 {
        color: $color-primary;
        font-size: 4rem;
        font-weight: bold;
        padding: 2rem 0;
        text-align: center;

        @include respond(phone) {
          font-size: 3rem;
        }
      }
    }

    & .whyus_image {
      & .col--2r {
        & .txt-welcome {
          &:not(:first-of-type) {
            margin-bottom: 1rem;
          }
        }
      }
    }

    & .whyus_intro {
      text-align: center;

      @include respond(phone) {
        text-align: start;
      }
    }

    & .whyus_timeline {
      & .whyus_free-block {
        text-align: right;

        & .whyus_free {
          color: $color-primary;
          font-size: 8rem;
          font-weight: bold;

          @include respond(phone) {
            margin-bottom: 1rem;
          }
        }

        @include respond(phone) {
          text-align: center;
        }
      }

      & .whyus_list {
        & .ant-timeline {
          text-align: left;

          & .whyus_text {
            color: $color-grey;
            font-size: 1.5rem;
          }
        }
      }
    }

    & .whyus_wrapper--colored {
      & .whyus_highlights {
        & .whyus_highlight {
          & h4 {
            color: $color-primary;
            font-size: 3rem;
            margin-bottom: 0;
          }

          & p.home_txt {
            color: $color-grey;
          }
        }
      }
    }
  }

  & .findus_container {
    & h4 {
      color: $color-white;
      font-size: 4rem;
      font-weight: bold;
      padding-bottom: 2rem;
      text-align: center;

      @include respond(phone) {
        font-size: 3rem;
      }
    }

    & p.home_txt {
      color: $color-white;
      text-align: center;

      & a {
        color: $color-white;
        text-decoration: underline;

        &:hover {
          color: $color-quaternary;
        }
      }
    }
  }
}

// FAQ, Privacy Policy and Terms & Conditions
.faq_container,
.privacy-policy_container,
.terms-and-conditions_container {
  & h2 {
    color: $color-primary;
    font-size: 6rem;
    text-align: center;
  }

  & h3 {
    color: $color-grey;
    font-size: 1.6rem;
  }

  & p {
    color: $color-grey;
  }
}

// Tables Planner
section.tables-planner_container {
  & .weddings_form {
    & .weddings_form-item {
      & .message--warning {
        & .warning--detail {
          font-weight: bold;
          text-decoration: underline;
        }
      }
    }
  }
}

// Guest Landing
.guest-landing_container {
  & h1 {
    color: $color-white;
    margin-bottom: 1rem;
    font-size: 5rem;
    font-weight: bold;
    text-align: center;
  }

  & h2 {
    color: $color-white;
    margin-bottom: 2rem;
    font-size: 2rem;
    text-align: center;
  }

  & .weddings_form {
    & .weddings_form-item {
      & .button {
        color: $color-secondary;
        font-weight: bold;

        &:hover {
          color: $color-primary;
        }
      }
    }
  }
}

/**
 * Components
 */

// Card
.weddings_card {
  & .ant-card-head {
    @include respond(phone) {
      text-align: center;
    }
  }
}

/**
 * Layout
 */

// Tables Planner Menu
section.tables-planner_container {
  & div.tables-planner-menu_container {
    & .divider {
      & .ant-tag {
        font-size: 1.2rem;
      }
    }

    & .ant-divider-inner-text {
      color: $color-white;
      font-size: 1.6rem;
    }
  }
}
