form {
  &.weddings_form {
    & .weddings_form-item {
      margin-bottom: 8px;
    }

    & .message--warning {
      background-color: $color-warning-light;
      border: 1px solid $color-warning;
      border-radius: 4px;
      color: rgba($color-black, 0.65);
      font-size: 12px;
      font-variant: tabular-nums;
      line-height: 1.5;
      list-style: none;
      margin: 0;
      margin-bottom: 8px;
      padding: 8px 16px;
      position: relative;
      text-align: center;
      word-wrap: break-word;
    }

    & .invitation-link {
      border: 2px solid rgba($color-black, 0.35);
      border-radius: 50%;
      color: rgba($color-black, 0.35);
      font-size: 1.6rem;
      margin-top: 1rem;
      padding: 0.5rem;
      transition: all 300ms;

      &:hover {
        border-color: $color-grey;
        color: $color-grey;
      }
    }
  }
}
