.forgot-password_container {
  background-color: $color-secondary;
  min-height: $min-height;
  padding-top: $header-height;

  & > div {
    padding-bottom: 20rem;
    width: 100%;

    // Forms
    & .forgot-password_forms {
      & .weddings_card {
        height: 100%;

        @include respond(phone) {
          min-height: 415px;
        }
      }
      @include respond(tab-port) {
        width: 60%;
      }

      @include respond(phone) {
        width: 100%;
      }
    }

    @include respond(big-desktop) {
      @include absCenter();
    }

    @include respond(phone) {
      padding-bottom: 0;
    }
  }

  @include respond(phone) {
    min-height: $min-height-mobile;
    padding-top: $header-height-mobile;
  }
}
