.home_container {
  // Main
  & .home_main {
    background-image: linear-gradient(to left top, rgba($color-primary, 0.95), rgba($color-secondary, 0.95)),
      url(https://res.cloudinary.com/wedwedweddings/image/upload/v1598890883/wedwedweddings.com/images/bg_yv8vld.jpg);
    background-position: top center;
    background-size: cover;
    box-shadow: inset 0 -1rem 2rem rgba($color-black, 0.2);
    height: 90vh;

    @include respond(phone) {
      padding-top: $header-height-mobile;
    }
  }

  & .whyus-findus_container {
    background-color: $color-secondary;

    // Why Us
    & .whyus_title {
      background-color: $color-white;

      & .ant-col {
        @include respond(phone) {
          padding: 0 3rem;
        }
      }
    }

    & .whyus_image {
      background-color: $color-white;

      & [class^='col--'] {
        min-height: 256px;

        & img {
          height: auto;
          width: 100%;
        }

        @include respond(phone) {
          width: 100%;
        }
      }

      & .col--1l,
      .col--2r {
        padding: 4rem 6rem;

        @include respond(phone) {
          padding: 2rem 3rem;
        }
      }

      & .col--1r {
        & img {
          border-radius: 200px 0 0 0 !important;
        }
      }

      & .col--2l {
        & img {
          border-radius: 0 0 200px 0 !important;
        }
      }
    }

    & .whyus_list-container {
      background-color: $color-white;
      clip-path: polygon(0 0, 100% 0, 100% 88%, 50% 100%, 0% 88%);
      padding: 72px 0;

      & > .ant-col {
        & .whyus_list--intro {
          & > .ant-col {
            @include respond(phone) {
              width: 100%;
            }
          }

          @include respond(phone) {
            padding: 2rem 3rem;
          }
        }

        & .whyus_list--free {
          @include respond(phone) {
            width: 100%;
          }
        }

        & .whyus_list {
          @include respond(phone) {
            padding: 0 10vw;
            width: 100%;
          }
        }

        @include respond(phone) {
          width: 100%;
        }
      }

      @include respond(phone) {
        padding: 0 0 6rem 0;
      }
    }
  }

  & .home_findus {
    background-color: $color-secondary;
    padding: 72px 0;

    & .findus_icon-container {
      text-align: center;

      & a {
        color: $color-white;
        font-size: 2.5rem;
        text-align: center;
        transition: all 300ms;

        &:hover {
          color: $color-quaternary;
        }

        @include respond(phone) {
          font-size: 4rem;
        }
      }

      @include respond(phone) {
        width: 20%;
      }
    }
  }
}
