.home_container {
  // Main
  & .home_main {
    background-image: linear-gradient(to left top, rgba($color-primary, 0.95), rgba($color-secondary, 0.95)),
      url(https://res.cloudinary.com/wedwedweddings/image/upload/v1598890883/wedwedweddings.com/images/bg_yv8vld.jpg);
    background-position: top center;
    background-size: cover;
    box-shadow: inset 0 -1rem 2rem rgba($color-black, 0.2);
    height: 85vh;

    @include respond(phone) {
      padding-top: $header-height-mobile;
    }
  }

  // Why Us
  & .whyus_container {
    background-color: $color-white;

    & .whyus_title {
      @include respond(phone) {
        padding: 0 3rem;
      }
    }

    & .whyus_image {
      & [class^='col--'] {
        & img {
          height: auto;
          width: 100%;
        }

        @include respond(phone) {
          width: 100%;
        }
      }

      & .col--1l,
      .col--2r {
        padding: 4rem 6rem;

        @include respond(phone) {
          padding: 2rem 3rem;
        }
      }

      & .col--1r {
        & img {
          border-radius: 100px 0 0 100px !important;

          @include respond(tab-port) {
            border-radius: 64px 0 0 64px !important;
          }

          @include respond(phone) {
            border-radius: 200px 0 0 0 !important;
          }
        }
      }

      & .col--2l {
        & img {
          border-radius: 0 100px 100px 0 !important;

          @include respond(tab-port) {
            border-radius: 0 64px 64px 0 !important;
          }

          @include respond(phone) {
            border-radius: 0 0 200px 0 !important;
          }
        }
      }
    }

    & .whyus_intro {
      padding: 6rem 22.5vw 2rem 22.5vw;

      @include respond(tab-land) {
        padding: 4rem 15vw;
      }

      @include respond(phone) {
        padding: 0rem 3rem;
      }
    }

    & .whyus_timeline {
      padding: 2rem 0;

      & .ant-col {
        &.whyus_free-block {
          padding-right: 2rem;
        }

        &.whyus_list {
          padding-left: 2rem;

          @include respond(phone) {
            padding: 0 8rem;
          }
        }

        @include respond(phone) {
          padding: 2rem 3rem;
          width: 100%;
        }
      }
    }

    & .whyus_wrapper--colored {
      background-color: $color-secondary;

      & .whyus_highlights {
        background-color: $color-white;
        clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 0% 85%);
        padding: 0 0 6rem 0;

        & .ant-col {
          &.whyus_highlight {
            padding: 2rem;

            @include respond(tab-port) {
              padding: 2rem 8rem;
              width: 50%;
            }

            @include respond(phone) {
              padding: 2rem;
              width: 100%;

              &:last-of-type {
                padding-bottom: 2rem;
              }
            }
          }
        }

        @include respond(phone) {
          clip-path: polygon(0 0, 100% 0, 100% 90%, 50% 100%, 0% 90%);
          padding: 0 0 6rem 0;
        }
      }

      @include respond(tab-land) {
        margin-top: -1px;
      }
    }
  }

  & .findus_container {
    background-color: $color-secondary;
    padding: 72px 0;
    margin-top: -1px;

    & > .ant-col {
      @include respond(phone) {
        width: 100%;
      }

      @include respond(phone) {
        padding: 2rem 3rem;
      }
    }

    & .findus_icon-container {
      text-align: center;

      & a {
        color: $color-white;
        font-size: 2.5rem;
        text-align: center;
        transition: all 300ms;

        &:hover {
          color: $color-quaternary;
        }

        @include respond(phone) {
          font-size: 4rem;
        }
      }

      @include respond(phone) {
        width: 20%;
      }
    }
  }
}
